{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

    <div class="container">
        <nav class="nav nav-inline">
            <a class="nav-link active" href="{{ url_for('index') }}">Главная</a>
            <a class="nav-link" href="{{ url_for('json_list') }}">Список</a>
            <a class="nav-link" href="{{ url_for('order') }}">Заказы</a>
        </nav>
    </div>

    <div class="container-fluid" style="margin: 30px 0">
        <h4>Главная</h4>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        <p>{{ message | safe }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="container">
            <form method="POST" action="" style="margin: 30px;">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group">
                    <label for="json">json input</label>
                    {{ form.json }}
                </div>

                <input type="submit" id="submit" class="btn btn-primary" value="Записать в БД">
            </form>
        </div>
    </div>
{% endblock %}